<div class="container">
    <div class="row align-items-center min-vh-100">
        <!-- Section Formulaire -->
        <div class="col-lg-6 col-md-8 col-sm-10 mx-auto">
            <h1 class="success-title">Finalisez votre abonnement</h1>
            <p class="success-paragraphe mb-3">
                Choisissez votre mode de paiement pour activer votre offre <b>(Play/Premium/ Premium +)</b> et commencer à regarder.
            </p>

            <form class="mt-5">
                <ul ngbNav #Animation="ngbNav" [(activeId)]="activeTab" class="nav nav-pills nav-justified border m-0" role="tablist">
                    <li [ngbNavItem]="1" class="nav-item">
                        <a ngbNavLink class="nav-link">
                            <span class="pill-label">Payer par Wave :</span>
                            <span class="pill-icon">
                                <img src="assets/images/wave.jpg" class="nav-image" alt="wave" />
                            </span>
                        </a>
                        <ng-template ngbNavContent>
                            <div class="form-group mb-3">
                                <label class="form-label m-0">Entrez votre numéro wave :</label>
                                <input type="text"  class="form-control custom-input" placeholder="ex : +225 0708070800">
                            </div>
                        </ng-template>
                    </li>

                    <li [ngbNavItem]="2" class="nav-item">
                        <a ngbNavLink class="nav-link">
                            <span class="pill-label">Payer par Djamo :</span>
                            <span class="pill-icon">
                                <img src="assets/images/djamo.jpeg" class="nav-image" alt="djamo" />
                            </span>
                        </a>
                        <ng-template ngbNavContent>
                            <div class="row">
                                <div class="col-12 mb-3">
                                    <div class="form-group">
                                        <label class="form-label m-0">Nom du titulaire :</label>
                                        <input type="text"  class="form-control custom-input" placeholder="ex : Dupon Cinéphile">
                                    </div>
                                </div>
                                <div class="col-12 mb-3">
                                    <div class="form-group">
                                        <label class="form-label m-0">Numéro de la carte :</label>
                                        <input type="text"  class="form-control custom-input" placeholder="XXXX XXXX XXXX XXXX">
                                    </div>
                                </div>
                                <div class="col-md-6 mb-3">
                                    <div class="form-group">
                                        <label class="form-label m-0">Date d’expiration :</label>
                                        <input type="text"  class="form-control custom-input" placeholder="MM/AA">
                                    </div>
                                </div>
                                <div class="col-md-6 mb-3">
                                    <div class="form-group">
                                        <label class="form-label m-0">Code de sécurité :</label>
                                        <input type="text"  class="form-control custom-input" placeholder="CVV">
                                    </div>
                                </div>
                            </div>
                        </ng-template>
                    </li>
                </ul>

                <div class="tab-content py-3 m-0">
                    <div [ngbNavOutlet]="Animation"></div>
                </div>
            </form>

            <button type="submit" (click)="paye()" class="btn btn-continue w-100 rounded-pill">
                PAYER
            </button>
        </div>
        
        <!-- Section Artwork (visible uniquement sur desktop) -->
        <div class="col-lg-6 d-none d-lg-block">
            <div class="faq-image">
                <img src="assets/images/logos/logo-sm.png" alt="">
            </div>
        </div>
    </div>
</div>